*{outline:1px solid red;}
// Variables
	
// header
	@import '../sass/import/header';

// All
$letra_news:
	"oswald";
$color_gray:"#aaa";


.blog{
	padding: 10px 20px;
}
.contenido-blog{
	height: 100px;
	padding: 5px 10px;
	text-align: justify;
	margin-bottom: 50px;
	p{
		margin-top: 20px;
		font-family: $letra_news;
	}
	h3{
		margin-top: 15px;
		font-family: $letra_news;
	}
}

.columnistas h4{
	font-family: $letra_news;
}
.abajo-imagen{
	background-color: #E2E6E9;
	height: 90px;
	padding: 10px;
}
.all_columnistas h3{
	font-family: $letra_news;}

.bs-colum-list {
    padding-left: 0;
    list-style: none;
    width: 100%;
}
.bs-colum-list ul{
	width: 100%;
	margin: 0px;
}
.bs-colum li {
    height: 200px;
    font-size: 10px;
    line-height: 2.4;
    text-align: center;
    border: 1px solid #fff;
    margin-left: 10px;

}
.back{background-color: #e3e3e3;
width: 24.3%;margin-left: 5px;
height: auto; padding-top: 10px; padding-bottom:10px;}
.list-inline>li {
	padding: 25px 30px 25px 15px
}
.back p{
	font-family: $letra_news;
	font-weight: bold;
	position:relative;
	top: 5px;
	margin-left:5px;
}
.back h4{ color: $color_gray;
	margin-left:5px;
	text-shadow: 5px 5px 5px #aaa;
	line-height: 0.7;}
.autor2{
	position: relative;}

// FOOTER(R)
	@import '../sass/import/footer';