.footer
	.container
		.row.social_media
			.col-md-5
				.col-md-12
					.row.text-center
						img(src="image/logo-grupo-la-republica.png") 
						h4 GRUPO LA REPUBLICA DIGITAL
						h5 Jr. Camana 320 Cercado de Lima
						h5 Telefono: 711-6000
						h5 (Central Telefónica)
						p Todos los derechos reservados-2015

			.col-md-7
				.col-md-3
					ul.list-unstyled
						li Roger Federer
						li SBS
						li Scarlett Johansson
						li Scotiabank
						li Selena Gomez
						li Spiderman
						li Sporting Cristal
						li Sunat
						li Telefonica del Peru
						li The Walking Dead
						li Twitter
						li Universidad Cesar Vallejo
						li Universidad San Martin 
						li Universitario de Deportes
						li Xbox
						li Youtube
						li Bayer Munich
						li Bayer Munich
						li Bbva
						li Xbox
						li BCP
				.col-md-3
					ul.list-unstyled
						li Al fondo hay Sitio 
						li Alejandro Toledo
						li Alianza Lima
						li Alianza Lima
						li Banco de Nacion
						li Bark Obama
						li Universidad Cesar
						li Vallejo
						li Universidad San Martin
						li Barcelona
						li Bayer Munich
						li Bayer Munich
						li BBVA
						li Xbox
						li BCP
						li Batman
						li Bayer Munich
						li Bayer Munich
						li BBVA
						li Xbox
						li BCP
				.col-md-3
					ul.list-unstyled
						li One Direction
						li ONPE
						li Pablo Escobar
						li Paolo Guerrero
						li Pension 65
						li PNP
						li Precio de Dólar
						li Universidad Cesar Vallejo
						li Universidad San Martin
						li Premier League
						li Bayer Munich
						li Bayer Munich
						li BBVA
						li Xbox
						li BCP
						li Proyecto Conga
						li PUCP
						li Real Madrid
						li Redes Sociales
						li Reniec
						li Rober Pattinson
						
				.col-md-3
					ul.list-unstyled
						li Al fondo hay Sitio 
						li Alejandro Toledo
						li Alianza Lima
						li Alianza Lima
						li Banco de Nacion
						li Bark Obama
						li Universidad Cesar
						li Vallejo
						li Universidad San Martin
						li Barcelona
						li Bayer Munich
						li Bayer Munich
						li BBVA
						li Xbox
						li BCP
						li Batman
						li Bayer Munich
						li Bayer Munich
						li BBVA
						li Xbox
						li BCP
						
						
		.footpage
			.container
				.row.foot
					.col-md-12
							p Diarios del Pal: Clarin| La tercera| El Universal Colombia| El Universal Venezuela| Vanguardia| La Prensa| El Salvador| La Verdad| Diario Libre| El Diario de Hoy| El Colombiano