.footer
	.container
		.row.social_media
			.col-md-4
					.row.social
						img.img-responsive(src="image/logo-grupo-la-republica.png")
						ul.list-unstyled.mt-5
							li.text-center
								h3 Grupo La República Digital
							li 
								p Jr. Camana 320 Cercado de Lima
							li
								p Telefono: 711-6000
							li 
								p (Central Telefónica)
							li.reser 
								p(style="font-size: 12px;") Todos los derechos reservados-2015
			.col-md-8.mt-2(style="padding: 0px")
				mixin pet(names)
					li
						a(href="#")= names
				.col-md-3.listapet
					ul.pull-left.list-unstyled
						+pet('Roger Federer')
						+pet('SBS')
						+pet('Scarlett Johansson')
						+pet('Scotiabank')
						+pet('Selena Gomez')
						+pet('Spiderman')
						+pet('Sporting Cristal')
						+pet('Sunat')
						+pet('Telefonica del Peru')
						+pet('The Walking Dead')
						+pet('Twitter')
						+pet('Universidad Cesar Vallejo')
						+pet('Universidad San Martin')
						+pet('Universitario de Deportes')
						+pet('Xbox')
						+pet('Youtube')
						+pet('Bayer Munich')
						+pet('Bayer Munich')
						+pet('BBVA')
						+pet('Xbox')
						+pet('BCP')
				.col-md-3.listapet
					mixin listfoot
						ul.list-unstyled
							+pet('Al fondo hay Sitio')  
							+pet('Alejandro Toledo') 
							+pet('Alianza Lima') 
							+pet('Alianza Lima') 
							+pet('Banco de Nacion') 
							+pet('Bark Obama') 
							+pet('Universidad Cesar') 
							+pet('Vallejo') 
							+pet('Universidad San Martin') 
							+pet('Barcelona') 
							+pet('Bayer Munich') 
							+pet('Bayer Munich') 
							+pet('BBVA') 
							+pet('Xbox') 
							+pet('BCP') 
							+pet('Batman') 
							+pet('Bayer Munich') 
							+pet('Bayer Munich') 
							+pet('BBVA') 
							+pet('Xbox') 
							+pet('BCP') 
					+listfoot
				.col-md-3.listapet
						ul.list-unstyled
							+pet('One Direction') 
							+pet('ONPE') 
							+pet('Pablo Escobar') 
							+pet('Paolo Guerrero') 
							+pet('Pension 65') 
							+pet('PNP') 
							+pet('Precio de Dólar') 
							+pet('Universidad Cesar Vallejo') 
							+pet('Universidad San Martin') 
							+pet('Premier League') 
							+pet('Bayer Munich') 
							+pet('Bayer Munich') 
							+pet('BBVA') 
							+pet('Xbox') 
							+pet('BCP') 
							+pet('Proyecto Conga') 
							+pet('PUCP') 
							+pet('Real Madrid') 
							+pet('Redes Sociales') 
							+pet('Reniec') 
							+pet('Rober Pattinson') 
				.col-md-3.listapet
					+listfoot
		hr.bar
		.footpage
			.container
				.row.foot.text-center
							p(style="font-size: 12px; color: #a9a9a9;") Diarios del Pal: Clarin | La tercera | El Universal Colombia | El Universal Venezuela | Vanguardia | La Prensa | El Salvador | La Verdad | Diario Libre | El Diario de Hoy | El Colombiano