.footer
	.container
		.row.social_media
			.col-md-5
				.col-md-8
					.row
						h4 
						P  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quasi error suscipit odit tempore distinctio reiciendis magni, ab totam quia quas, non, illo nemo voluptatum. 		
			.col-md-7
				.col-md-3
					h4 lorem
					ul lorem
						li lorem
						li lorem
						li lorem
						li LORE
				.col-md-3
					h4 GGGGG
					ul.list-unstyle
						li lorem
						li lorem
						li lorem
						li LORE
				.col-md-3
					h4 GGGG
					ul.list-unstyle
						li lorem
						li lorem
						li lorem
						li LORE
				.col-md-3
					h4 GGGG
					ul.list-unstyle
						li lorem
						li lorem
						li lorem
						li LORE
						
		.footpage
			.container
				.row.foot
					.col-md-12
						p Copyright
							i.fa.fa-copyright 2015<span class="ultimo">ccccccc</span> All rigth reserveddd	ddddd ssddddddddddddddddddddddddd