doctype html
html(lang='es-PE')
  head
    include ./include/head.jade
    link(rel='stylesheet', type='text/css', href='assets/css/blog.css')
  body
    //header
    include ./include/header.jade
    
    // FOOTER(R)
    include ./include/footer.jade