doctype html
html(lang='es-PE')
  head
    include ./include/head.jade
    link(rel='stylesheet', type='text/css', href='assets/css/main.css')
  body
    //header
    include ./include/header.jade
    // HERO SECTION: 
    // COLUMNISTAS
    // DESTACADOS+ PUBLICIDAD
    // ULTIMAS NOTICIAS
    .new
        .container jdsjdsjdsj
    // SUSCRIBETE BOLETIN (L)
    // AWEITA
    // FOTOS DESTACADAS
    // ESPECIALES
    // CARICATURA DEL DIA
    // NUESTROS BLOGGEROS
    // EDICION IMPRESA
    // INFOGRAFIA
    // PREGUNTAS (L)
    // LIBERO.PE
    // POPULAR
    // GUAPA
    // REPORTERO CIUDADANO (L)
    // FOOTER(R)
    include ./include/footer.jade

